<!DOCTYPE html>
<html>
    <head>
        <title>The Ant Rant</title>
        <link rel="shortcut icon" href="Images/favicon.ico"/>
        <meta name="description" content="The Ant's blog and ranting space, come one come all to this waste of time!">
        <meta name="author" content="An Ant"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="style.css" rel="stylesheet">
        <script defer src='app.js'></script>
    </head>
    <body class='dark'>
        <header>
            <div class='topbar'>
                <a href="/login">Log In</a>
                <li class='has-dropdown'>
                    <a href="#" class='topbar'>Theme</a>
                    <ul class='dropdown'>
                        <a class='dropdown-item' id='light' href='#'>Light</a>                            
                        <a class='dropdown-item' id='dark' href='#'>Dark</a>
                    </ul>
                </li>
                <a href="/about">About</a>
                <a href="/">Home</a>
            </div>
            <h1 class='posttitle'>Week of 11/29:</h1>
            <h2></h2>
            <h4 class='year'>2021</h4>
            <hr>
        </header>
        <main>
            <div class='content'>
                <div>
                    <h3 class='day'>Monday:</h3>

                </div>
            </div>
        </main>
    </body>
</html>