<!DOCTYPE html>
<html>
    <head>
        <title>The Ant Rant</title>
        <link rel="shortcut icon" href="Images/favicon.ico"/>
        <meta name="description" content="The Ant's blog and ranting space, come one come all to this waste of time!">
        <meta name="author" content="An Ant"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="style.css" rel="stylesheet">
        <script defer src='app.js'></script>
    </head>
    <body class='dark'>
        <header>
            <div class='topbar'>
                <a href="/login">Log In</a>
                <li class='has-dropdown'>
                    <a href="#" class='topbar'>Theme</a>
                    <ul class='dropdown'>
                        <a class='dropdown-item' id='light' href='#'>Light</a>                            
                        <a class='dropdown-item' id='dark' href='#'>Dark</a>
                    </ul>
                </li>
                <a href="/about">About</a>
                <a href="/">Home</a>
            </div>
            <h1 class='posttitle'>Week of 11/22:</h1>
            <h2>Week of learning, it seems</h2>
            <h4 class='year'>2021</h4>
            <hr>
        </header>
        <main>
            <div class='content'>
                <div>
                    <h3 class='day'>Monday:</h3>
                    First day of the week of Thanksgiving, most people are just excited to get to the break. It was merely another useless A day for me.
                    I did have my chem test first block and I ended up getting a 98 on it. This stuff is too easy. The best part of English was reading Stormlight Archive as usual.
                    French is always a waste of my time and today was no exception. Comp sci was the most fun class as usual, I kinda just messed around as I always do.
                    I got home and resolved to finish that text based adventure game I had been making with C# and visual studio. I ended up sleeping at 11 but I did finish the demo of the game.
                </div>
                <div>
                    <h3 class='day'>Tuesday:</h3>
                    One day closer to break, and the day of my math test on chapter 6. Laws of sines and cosines was mostly just calculator use so it was decently easy.
                    I am yet to get my grade back on that. We started the depression simulation in history and I now work for the TVA.
                    Symphonic band was exceedingly boring as usual and I really just wanted to get out of that class.
                    Jazz results came out at the end of the day and I was amazed at just how screwed over everyone got.
                    I managed to keep my spot as first chair second alto in tuesday band but most people we expected to make tuesday ended up in 5:00
                    Got secondhand sadness for everyone else and then we went outside and realized we had missed the bus while staring at the jazz results.
                    After having to carpool home I had to spend the entire day soaking that in.
                </div>
                <div>
                    <h3 class='day'>Wednesday:</h3>
                    The half day before break. Each class was an hour long so there shouldn't be a way for me to get bored right? Wrong.
                    French is so exceedingly boring that it could be a four second class and I could still be bored out of my mind.
                    So, I decided to finally learn Python, as I do the most random stuff in that class as soon as I get my hands on my computer.
                    I ended up learning half of python syntax in french class and then went to comp sci.
                    I was going to show my game to my teacher but I was assigned the most bullshit thanksgiving challenge using JPanel.
                    God, I hate JPanel. Having to submit that before the end of class, all my time was gone by then and I didn't get a chance.
                    When I got home, I wanted to learn as much Python as possible before sleep. Little did I know, Python was so dummy easy I finished in an hour.
                    Learning Python in 2 hours was quite the accomplishment for me.
                </div>
                <div>
                    <h3 class='day'>Thursday-Saturday:</h3>
                    The break was finally here, and I decided to spend it being extremely productive for my personal projects,
                    because why would I be productive for school? I learnt Python in a day so I thought why not try learning another language in a day.
                    I ended up learning HTML in a day, which is what I am writing this in. I also started practicing guitar again, and learnt some open position scales.
                    On friday, I wanted to keep the streak going and learn another language, and that was CSS. I've wanted to try web development for a while and it seemed
                    too intimidating to start so I was surprised at how easy it was so far. CSS was weird and confusing and so I wasnt able to learn it in a day, but I did learn most of it in 2 days.
                    I also started writing my book again on friday. I wrote a few pages of it that day and ended up skipping guitar. Saturday I learnt no new programming languages,
                    but I did learn the box model for CSS which has really helped me in the creation of this website. I also learnt non open position
                    guitar scales, and now I can play every major scale on guitar by shifting it up some amount of frets.
                    I also reinstalled VSCode at some point over this break, which is also what I'm using to write this in. I did it because python rock paper scissors was being dumb.
                    I then realized VSCode is better than Visual Studio Community for basically everything that isn't C#.
                    <br>
                    <img class='image' src="Images/PythonRockPaperScissor.png">
                    <br>
                    Through some dumb instagram edit, I ended up stumbling upon Hole-Dwelling by Kikuo and I became obsessed with the song.
                    It was so strange an existential and that intruiged me. It also seemed to be some weird form of salsa and salsas are cool. I recommend it to anyone reading this.
                    I also wrote some more of my book and made it to 19,000 total words and finished the chapter. Decided to split Thofrai backstory chapter,
                    as it did get to 26 pages long with only half of the backstory.
                </div>
                <div>
                    <h3 class='day'>Sunday:</h3>
                    God, sunday has been trash. You ever wake up and feel like garbage for absolutely no reason?
                    Yeah, that was me. I woke up at 8 and ended up reflecting which I absolutely hate doing. I will never understand these social rules.
                    Oh and I almost classified myself and my thoughts using those dumb instagram teenager rules, so maybe I am devolving.
                    I stopped myself quite soon after though, so hopefully I'm safe, at least for now.
                    Had some dumb deep conversation on the FDR Fanclub chat(honors bs if this name is no longer reckognizable)
                    Those either make you feel good or make you feel even worse than you did before. This time it was the latter.
                    No one was online after that so as I usually waste time, I did the same, except I felt more alone.
                    Everyone is really edgy, aren't they? (Of course that includes me, especially me) 
                    It became noon and I decided to work away my pain or whatever it was that I said to myself.
                    I ended up making most of the main stuff for the static version of this website.
                    The mental thing didn't work as I expected though, but it was fine because eventually I got caught up in design and I stopped thinking.
                    It's always better to stop thinking.
                    Most of the time it's just some useless thought that you won't do anything thinking about anyway, save for causing yourself unnecessary strife.
                    I know this website doesn't look amazing or anything but I'm pretty proud of what I came up with. Maybe I'll give it a rework eventually.
                    If you're seeing this on a reworked version, here's what it looked like:
                    <br>
                    <img class='image' src="Images/AntRantVersion1.png">
                </div>
                <div>
                    <h5>By: The Ant Himself</h5>
                </div>
            </div>
        </main>
    </body>
</html>