<!DOCTYPE html>
<html>
    <head>
        <title>The Ant Rant</title>
        <link rel="shortcut icon" href="Images/favicon.ico"/>
        <meta name="description" content="The Ant's blog and ranting space, come one come all to this waste of time!">
        <meta name="author" content="An Ant"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="style.css" rel="stylesheet">
        <script defer src='app.js'></script>
    </head>
    <body class='dark'>
        <header>
            <div class='topbar'>
                <a href="/login">Log In</a>
                <li class='has-dropdown'>
                    <a href="#" class='topbar'>Theme</a>
                    <ul class='dropdown'>
                        <a class='dropdown-item' id='light' href='#'>Light</a>                            
                        <a class='dropdown-item' id='dark' href='#'>Dark</a>
                    </ul>
                </li>
                <a href="/about">About</a>
                <a href="/">Home</a>
            </div>
            <h1>The Ant Rant</h1>
            <h2>An archive of useless exploits</h2>
            <br>
            <hr>
        </header>
        <main>
            <br>
            <h3>Posts:</h3>
            <a href="/11-29">
                <div class='post'>
                    <div class='postinfo'>
                        <h4 class='postlink'>Week of 11/29</h4>
                        <p></p>
                    </div>
                    <div class='dates'>
                        <h5 class='date'>11/29-12/5</h5>
                        <h6 class='date'>2021</h6>
                    </div>
                </div>
            </a>
            <a href="/11-22">
                <div class='post'>
                    <div class='postinfo'>
                        <h4 class='postlink'>Week of 11/22</h4>
                        <p>Week of learning, it seems.</p>
                    </div>
                    <div class='dates'>
                        <h5 class='date'>11/22-11/28</h5>
                        <h6 class='date'>2021</h6>
                    </div>
                </div>
            </a>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </main>
    </body>
</html>