<!DOCTYPE html>
<html>
    <head>
        <title>The Ant Rant</title>
        <link rel="shortcut icon" href="Images/favicon.ico"/>
        <meta name="description" content="The Ant's blog and ranting space, come one come all to this waste of time!">
        <meta name="author" content="An Ant"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="style.css" rel="stylesheet">
        <script defer src='app.js'></script>
    </head>
    <body class='dark'>
        <header>
            <div class='topbar'>
                <a href="/login">Log In</a>
                <li class='has-dropdown'>
                    <a href="#" class='topbar'>Theme</a>
                    <ul class='dropdown'>
                        <a class='dropdown-item' id='light' href='#'>Light</a>                            
                        <a class='dropdown-item' id='dark' href='#'>Dark</a>
                    </ul>
                </li>
                <a href="/about">About</a>
                <a href="/">Home</a>
            </div>
            <h1 style='text-align: center; font-family: Helvetica, sans-serif; margin-top: 100px;'>Log In</h1>
        </header>
        <main>
            <form>
                <div class='form'>
                    <div>
                        <p class='formfield'>Email:</p>
                        <input type='email' placeholder="Enter Email" required>
                    </div>
                    <div>
                        <p class='formfield'>Password:</p>
                        <input id='pwd' type='password' placeholder="Enter Password" required>
                        <div style='width: 75%; display: block; margin: -10px 0px auto;'>
                            <i id='show'>Show</i>
                        </div>
                    </div>
                    <div>
                        <button class='button' style='margin-top: 50px;' type='submit'>Sign In</button>
                    </div>
                    <br>
                    <div id='register'>
                        <a href='/register'>or create a new account</a>
                    </div>
                </div>
            </form>
            <br><br>
        </main>
    </body>
</html>